@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@500&display=swap'); /*Encode Sans*/
/* below are 3 different font families */
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Monoton&family=Righteous&display=swap');


header {
    margin: 0;
    font-family: 'Righteous', sans-serif;
    }

.container {
    width: 100%;
    margin-top: 0px;
}

body {
    background-color:rgb(0, 0, 0, 0.9);
    color: #d3d3d3; 
    font-family: 'Encode Sans', sans-serif;
}


/*------------------------ Navigation Bar and Title */


.title {
    font-size: 40px;
    text-align: center;
    color: #3a7e99;
    font-weight: 500;
    padding-bottom: 0; 
    /* display: inline;  */
    font-family: 'Righteous', sans-serif;
}


.title:hover {
    color: #ffffffcc;
    text-decoration: none;
}

.navbar {
    font-family: 'Encode Sans', sans-serif;
}

.navbar .container-fluid {   /*this is to negate the default "display-flex" on title, and to center it on medium or higher devices*/
    display: inline; 
    text-align: center;
}


.navbar-dark .navbar-toggler {
    border-color: transparent;      /*--remove border from burger menu icon credit stack flow */
    
}

.nav-link:hover {                /*NOT WORKING*/
    color: #3a7e99;
}

.navbar-toggler-icon {
    vertical-align: initial;
}

.navbar-collapse {
    display: flex;
}

/*------------------------ Footer */

footer {
    font-size: 14px;
    padding-top: 30px;
    margin: 0;
}

footer, ul {
    padding-inline-start:0;
}

.social-links li a i {
    color: white;
    width: 28px;
    height: 28px;
    padding-top: 20px;
    font-size: 25px;
    line-height: 7px;
    text-align: center;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #3a7e99;
}

@media screen and (min-width: 500px) {
    .opening-hours {
        width: 50%;
    }
}
 {

}

/*------------------------ Images */

hr {
    border-color: #3a7e99;
}

.schedule {
    border-color: #3a7e99;
    background-color: #1b384441;
}


/* .home-image {
    height: 60vh;
    background: url('../images/home-page.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity:80% ;
    position: relative;
} */


.home-image {
    position: relative;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-image::before {
    content: "";
    background: url('../images/home-page.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8 ;
}

.line-sep {
    position: relative;
    color: #3a7e99;
}

.cost {
    position: relative;
    color: #b6b6b6;
}


/* .thegamesbg-image {
    height: 60vh;
    background: url('../images/thegames-bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity:80% ;
    position: relative;
} */

.thegamesbg-image {
    position: relative;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thegamesbg-image::before {
    content: "";
    background: url('../images/thegames-bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.6 ;
}


/*.thegearbg-image {
    height: 60vh;
    background: url('../images/gear2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity:80% ;
    position: relative;
}*/

.thegearbg-image {
    position: relative;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thegearbg-image::before {
    content: "";
    background: url('../images/gear2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4 ;
}

.eventsbg-image {
    position: relative;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eventsbg-image::before {
    content: "";
    background: url('../images/eventsbg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5 ;
}

.contactbg-image {
    position: relative;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactbg-image::before {
    content: "";
    background: url('../images/contact.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3 ;
}

.gameslist-image {
    position: relative; 
    margin-top: 5%;
    margin-bottom: 5%;
}

@media screen and (min-width: 768px) {
    .gameslist-image {
        float: right;
  }
}


.gear-home-image {
    position: relative; 
    margin-top: 5%;
    margin-bottom: 5%;
}

@media screen and (min-width: 768px) {
    .gear-home-image {
        float: left;
    }
}

.event-home-image {
    position: relative; 
    opacity: 80%;
}

/*------------------------ Carousel */

@media (max-width: 767px) {
    .carousel-item>img {
        height: 200px;
        
    }
}

@media (min-width: 768px) {
    .carousel-item>img {
        height: 300px;
    }
}

.carousel-indicators {
    position: relative;
}

/*------------------------ Text */


.callout {
    font-size: 50px;
    text-align: center;
    color: white;
    font-weight: 500;
}

h1 {
    position: relative;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    font-family:'Righteous', sans-serif;
}

p {
    text-align: justify;
    font-size: 14px;
}

@media screen and (min-width: 768px) {   /*home page "The Games" section */
    .games-desc h5,
    .games-desc > a {
        text-align: left;
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px) {  /*home page "The Gear" section */
    .gear-desc h5 {
        text-align: right;
        margin-top: 10%;
    }
}

p>a {
    color:  #3a7e99;
}

span>a {
    color:  #3a7e99;
}

p>a:hover {
    color: white;
    border-color: #3a7e99;
    text-decoration: none;
}

span>a:hover {
    color: white;
    border-color: #3a7e99;
    text-decoration: none;
}

.schedule>ul {
    font-size: 14px;
}

/*------------------------ Form */
.no-arrow {
  -moz-appearance: textfield;
}

.no-arrow::-webkit-inner-spin-button {
  display: none;
}

.no-arrow::-webkit-outer-spin-button,
.no-arrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#phone::-webkit-inner-spin-button, 
#phone::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}