@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@500&display=swap'); /*Encode Sans*/
/* below are 3 different font families */
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Monoton&family=Righteous&display=swap');


header {
    margin: 0;
    font-family: 'Righteous', sans-serif;
    }

.container {
    width: 100%;
    margin-top: 0px;
}

body {
    background-color:rgb(0, 0, 0, 0.9);
    color: #d3d3d3; 
    font-family: 'Encode Sans', sans-serif;
}


/*------------------------ Navigation Bar and Title */


.title {
    font-size: 40px;
    text-align: center;
    color: #3a7e99;
    font-weight: 500;
    padding-bottom: 0; 
    display: inline;  
    font-family: 'Righteous', sans-serif;
}


.title:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

.navbar {
    font-family: 'Encode Sans', sans-serif;
}

.navbar .container-fluid {   /*this is to negate the default "display-flex" on title, and to center it on medium or higher devices*/
    display: inline; 
    text-align: center;
}


.navbar-dark .navbar-toggler {
    border-color: transparent;      /*--remove border from burger menu icon credit stack flow */
    
}

.nav-link:hover {                /*NOT WORKING*/
    color: #3a7e99;
}

.navbar-toggler-icon {
    vertical-align: initial;
}

.navbar-collapse {
    display: flex;
}

/*------------------------ Footer */

footer {
    font-size: 12px;
    padding-top: 30px;
    margin: 0;
}

footer, ul {
    padding-inline-start:0;
}

.social-links li a i {
    color: white;
    width: 32px;
    height: 32px;
    padding-top: 20px;
    font-size: 25px;
    line-height: 7px;
    text-align: center;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #3a7e99;
}


/*------------------------ Images */

.home-image {
    height: 60vh;
    background: url('../images/home-page.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity:80% ;
    position: relative;
}

hr {
    border-color: #3a7e99;
}

.thegamesbg-image {
    height: 60vh;
    background: url('../images/thegames-bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity:80% ;
    position: relative;
}

.gameslist-image {
    position: relative; 
    /* float: right;      try to do only medium or large display*/
    margin-top: 5%;
    margin-bottom: 5%;
}

@media screen and (min-width: 768px) {
    .gameslist-image {
        float: right;
  }
}


.gear-home-image {
    position: relative; 
    /* float: left;  try to do only medium or large display*/
    margin-top: 5%;
    margin-bottom: 5%;
}

@media screen and (min-width: 768px) {
    .gear-home-image {
    float: left;
    }
}

.event-home-image {
    position: relative; 
    margin-top: 5%;
    
    
    opacity: 80%;
}

@media (max-width: 767px) {
    .carousel-item>img {
        height: 200px;
        
    }
}

@media (min-width: 768px) {
    .carousel-item>img {
        height: 300px;
    }
}

/*------------------------ Text */


.callout {
    font-size: 50px;
    text-align: center;
    color: white;
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5 {
    text-align: center;
    font-family: 'Righteous', sans-serif;
}


p {
    text-align: justify;
    font-size: 14px;
}

/* .page-desc {
    margin-top: 15px;
    text-align: center;
} */


.games-desc {
    /* margin-top: 20px; */
    text-align: center;
}

@media screen and (min-width: 768px) {
    .games-desc h5,
    .games-desc > a {
        text-align: left;
        margin-top: 10%;
    }
}

.gear-desc {
    margin-top: 20px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .gear-desc h5 {
        text-align: right;
        margin-top: 10%;
    }
}

.gear-desc p {
    text-align: justify;
}

p>a {
    color:  #3a7e99;
}

span>a {
    color:  #3a7e99;
}

p>a:hover {
    color: white;
    border-color: #3a7e99;
    text-decoration: none;
}

span>a:hover {
    color: white;
    border-color: #3a7e99;
    text-decoration: none;
}
