@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

header {
    margin: 0;
    font-family: 'Righteous', sans-serif;
    }

.container {
    width: 100%;
    margin-top: 0px;
}

body {
    background-color:rgb(0, 0, 0, 0.9);
    color: #d3d3d3; 
    font-family: 'Encode Sans', sans-serif;
}

/*------------------------ Navigation Bar and Title */

.title {
    font-size: 40px;
    text-align: center;
    color: #3a7e99;
    font-weight: 500;
    padding-bottom: 0; 
    font-family: 'Righteous', sans-serif;
}

.title:hover {
    color: #ffffffcc;
    text-decoration: none;
}

.navbar {
    font-family: 'Encode Sans', sans-serif;
}

.navbar .container-fluid {   /*this is to negate the default "display-flex" on title, and to center it on medium or higher devices*/
    display: inline; 
    text-align: center;
}

.navbar-dark .navbar-toggler {
    border-color: transparent;    /*--remove border from burger menu icon credit stack flow */
}

.navbar-toggler-icon {
    vertical-align: initial;
}

.navbar-collapse {
    display: flex;
}

/*------------------------ Footer */

footer {
    font-size: 14px;
    padding-top: 30px;
    margin: 0;
}

footer, ul {
    padding-inline-start: 0; /* This property was flagged as invalid, but I see that this is currently in experimental stage, also provide link */
}

.social-links li a i {
    color: white;
    width: 28px;
    height: 28px;
    padding-top: 20px;
    font-size: 25px;
    line-height: 7px;
    text-align: center;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #3a7e99;
}

@media screen and (min-width: 1000px) {
    .opening-hours {
        padding-left: 15px;
        margin-right: -35px;
  }
}

/*------------------------ Images */

hr {
    border-color: #3a7e99;
}

.hero-image {
    position: relative;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home-bg::before {
    content: "";
    background: url('../images/home-page.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.8;
}

#thegames-bg::before {
    content: "";
    background: url('../images/thegames-bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.6;
}

#thegear-bg::before {
    content: "";
    background: url('../images/gear2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.4;
}

#events-bg::before {
    content: "";
    background: url('../images/eventsbg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}

#contact-bg::before {
    content: "";
    background: url('../images/contact.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.4;
}

.line-sep {
    position: relative;
    color: #3a7e99;
    width: 60%;
}

.home-section {
    position: relative; 
    margin-top: 5%;
    margin-bottom: 5%;
    width: 70%;
}

@media screen and (min-width: 768px) {
    #gameslist-image {
        float: right;
  }
}

@media screen and (min-width: 768px) {
    #gear-home-image {
        float: left;
    }
}

.event-home-image {
    position: relative; 
    opacity: 80%;
}

/*------------------------ Carousel */

@media (max-width: 767px) {
    .carousel-item>img {
        height: 200px;
    }
}

@media (min-width: 768px) {
    .carousel-item>img {
        height: 300px;
    }
}

.carousel-indicators {
    position: relative;
}

/*------------------------ Text */

.callout {
    font-size: 50px;
    text-align: center;
    color: white;
    font-weight: 500;
}

.cost {
    position: relative;
    color: #b6b6b6;
}

h1 {
    position: relative;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    font-family:'Righteous', sans-serif;
}

p {
    text-align: justify;
    font-size: 14px;
}

@media screen and (min-width: 768px) {   /*home page "The Games" section */
    .games-desc h5,
    .games-desc > a {
        text-align: left;
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px) {  /*home page "The Gear" section */
    .gear-desc h5 {
        text-align: right;
        margin-top: 10%;
    }
}

p>a {
    color:  #3a7e99;
}

span>a {
    color:  #3a7e99;
}

p>a:hover {
    color: white;
    border-color: #3a7e99;
    text-decoration: none;
}

span>a:hover {
    color: white;
    border-color: #3a7e99;
    text-decoration: none;
}

.schedule>ul {
    font-size: 14px;
}

.schedule {
    border-color: #3a7e99;
    background-color: #1b384441;
}