@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@500&display=swap');

header {
    margin: 0;
    font-family: 'Encode Sans', sans-serif;
    }

.container {
    width: 100%;
    margin-top: 0px;

}

body {
    background-color:rgb(0, 0, 0, 0.9);
    color: rgb(211, 211, 211); 
    font-family: 'Encode Sans', sans-serif;
}


/*------------------------ Navigation Bar and Title */

.navbar-nav {
    float: right;
}

.title {
    font-size: 50px;
    text-align: center;
    color: rgb(58, 126, 153);
    font-weight: 500; 
    margin-top: 5px;
    position: ;
}


/*------------------------ Images */

.home-image {
    height: 60vh;
    background: url('../images/home-page.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity:75% ;
    position: relative;
}

hr {
    border-color: rgb(58, 126, 153);
}

/*------------------------ Text */

footer {
    font-size: 12px;
    padding-top: 30px;

    margin: 0;
}

footer, ul {
    padding-inline-start:0;
}


.social-links li a i {
    color: white;
    width: 32px;
    height: 32px;
    padding-top: 20px;
    font-size: 25px;
    line-height: 7px;
    text-align: center;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: rgb(58, 126, 153);
}

.welcome {
    font-size: 50px;
    text-align: center;
    color: white;
    font-weight: 800;
}

h1,
h2,
h3,
h4,
h5 {
    text-align: center;
}

h5 {
    margin-top: 3px;
}

p {
    text-align: justify;
}

.game-room-desc {
    margin-top: 20px;
    text-align: center;
}

.games-desc {
    margin-top: 20px;
    text-align: center;
}

.games-desc h5 {
    margin-top: 3px;
}


.gameslist-image {
    position: relative; 
    /* float: right;      try to do only medium or large display*/
    border-radius: 30px;
    margin-top: 5%;
    margin-bottom: 5%;

}

.gear-home-image {
    position: relative; 
    /* float: left;  try to do only medium or large display*/
    border-radius: 30px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.gear-desc {
    margin-top: 20px;
    text-align: center;
}

.gear-desc p {
    text-align: justify;
}

.events-desc {
    text-align: center;
}

.event-home-image {
    position: relative; 
    border-radius: 30px;
    margin-top: 5%;
    margin-bottom: 5%;
}